<main class="p-5">
  <div class="flex-conteiner">
    <p>HELLO WORLD</p>
    <p>HELLO WORLD</p>
    <p>HELLO WORLD</p>
    <p>HELLO WORLD</p>
    <p>HELLO WORLD</p>
    <p>HELLO WORLD</p>
    <p>HELLO WORLD</p>
    <p>HELLO WORLD</p>
  </div>
</main>

<span>test</span>
<h1>test</h1>
<div>block</div>
<div>block</div>
<div>block</div>
<div>block</div>
<div>block</div>

<div style="margin: 50px 0 100px ; background:red">
  <span>inline</span>
  <span>inline</span>
  <span>inline</span>
  <span class="block">MKJJHinline</span>
</div>