{{!-- <div class="p-5">
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p>this is text</p>
  <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

  <button type="button" class="btn btn-primary">Купити</button>
</div> --}}
{{!--
<footer>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p>this is text</p>
  <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

  <button type="button" class="btn btn-primary">Купити</button>
  <em> name</em>
</footer> --}}

{{!-- <div class="card p-5 m-5 card-dark">
  <input class="input-dark" required>
  <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark">
  <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300 " height="100">
  <br>
  <button class="btn">click me</button>
  <br>
  <a class="btn btn-secondary" href="https://picsum.photos/200/300 ">click me</a>
</div>
<div class="card p-5 m-5 card-dark">
  <p class="big-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo necessitatibus beatae voluptates,
    maxime libero mollitia velit quam iusto enim maiores ut amet adipisci eos et quasi ea neque itaque nostrum?</p>
</div> --}}


<div lang="fr" class="flex-conteiner">
  <a class="link" href="#test">click me</a>
</div>

<div lang="en" id="test" class="card p-5 m-5 card-dark">
  <input>
</div>
<div class="card p-5 m-5 card-dark">
  <button>test</button>
</div>
<div class="card p-5 m-5 card-dark">
  <button> test button</button>
  <button disabled>disabled button</button>
</div>
<div class="card p-5 m-5 card-dark">
  <input class="inp">

  <div class="mt-5">
    <div>
      <input type="checkbox" checked>
      <span> tedrtt</span>
    </div>
    <div>
      <input type="checkbox">
      <span>hgytrd</span>
    </div>
  </div>
</div>
<div class="card p-5 m-5 card-dark">
  <input class="valid">
  <div class="mt-5">
    <input type="number" min="10" max="20" required class="number">
  </div>
</div>
</div>