<div class="card">
<header class="logo_button">
      <div class="logo">logo</div>
</header>
<div class="card_2">
      <a href="#"url="www.example.com" class="links">Home</a>
      <a href="#"url="www.example.com" class="links_1">About Us</a>
      <a href="#"url="www.example.com" class="links_2">Services</a>
      <a href="#"url="www.example.com" class="links_3">Contact Us</a>
      <a href="#"url="www.example.com" class="links_4">Blog</a>
      </div>
      </div>

<div class="card_3">
 <div class="ad">AD
      <strong class="text">Best service to Boost your priority faster:www.example.com </strong>
 </div>  
<p class="userOnline">users online 10 </p>  
 </div>

 <div class="hero">
<h1 class="text_title">The most professional service</h1>
<p class="text_content">I want to thank the team for the prompt work, the guys did a great job  and the prices are the best in the market.</p>
<div class="btn">
<div class="button_2 click">Go to shop</div> 
 </div>
 </div>
 
 <div class="card_4">
   <div class="title">About shop</div>  
   <p class="shop_info">Lorem Ipsum is not an actual shop, but rather a type of dummy text used as a placeholder in designs to simulate the appearance of written content. It's often used by designers and developers as a temporary substitute for actual text while they're working on a project. The Lorem Ipsum text is derived from a Latin passage by Cicero, but it's been modified and scrambled so that it's no longer legible. The purpose of using Lorem Ipsum is to give designers an idea of how their designs will look when filled with text, without being distracted by the actual content of the text itself.</p> 
 </div>

 <div class="card_5">
      <div class="title_2">Our Articles
            </div>
            <div class="btn_1">
                  <div class="button_1">View All</div>              
      </div>
 </div>
 <div class="image">
      <img src="/img/image-1.png" alt="Lorem Ipsum" class="image_1">
      <img src="/img/image-2.png" alt="Ipsum Dolor" class="image_2">
      <img src="/img/image-3.png" alt="Dolor Sit Amet" class="image_3">

 
  
  <section class="page_info">Lorem Ipsum
      <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id dolor eget sapien lobortis finibus. Fusce euismod, ipsum sit amet pulvinar imperdiet, sapien nunc viverra nulla, vel pulvinar velit leo sed velit.</p>
  </section>
  <section class="page_info">Ipsum Dolor
      <p class="info">Sed euismod risus sit amet sapien fermentum, vitae scelerisque lectus hendrerit. Integer at velit tristique, varius dolor in, gravida est. Nunc sagittis justo vel velit tempor, eget faucibus nulla posuere.</p>
  </section>
  <section class="page_info">Dolor Sit Amet
      <p class="info">Etiam luctus ante eget ante convallis iaculis. Nunc viverra quam vel libero accumsan, non malesuada neque vestibulum. Curabitur malesuada, velit ut pretium ullamcorper, lacus elit vehicula sapien</p>
  </section>
</div>


<div class="hero_buttons">
<a href="#" class="button button">Read All</a>
<a href="#" class="button button">Read All</a>
<a href="#" class="button button">Read All</a>

</div>
<footer class="end">
     <a href="#"url="" class="card_footer">Terms of Use</a>
     <a href="#"url="" class="card_footer">Privacy Policy</a>
     <a href="#"url="" class="card_footer">Refund Policy</a>
     <a href="#"url="" class="the_end">© Copyrights Shop 2022. All rights reserved</a>


</footer>
   
     
   







