:root{
   --text-color:rgb(19, 18, 18);
   
}



.page {
    background: #ffff;
    padding: 0 15px;
}
.page_content {
    max-width: 960px;
    margin: 0 auto; 
}
.header {
    border-bottom: 1px solid #dee2e6 ;
padding: 24px;

}
.logo{
    font-size: 17px;
}
.divider{
 margin: 0; 
 height: 2px;
 background: #dee2e6;  
}
.nav {
display: block;
}
.nav_link{
color: #343a40;
font-size: 16px;
text-decoration: none;
}
.nav_link:hover{
    text-decoration:underline ;
    color: blue;
}
.nav_vertical > .nav_link{
display: block;
}
.nav_inline>.nav_link:not(:last-child){
margin-right: 24px;
}
.nav_vertical>.nav_link:not(:last-child){
margin-bottom: 15px;
}
.header_nav_right{
    margin-left: auto;
    width: fit-content;
}
.page_block{
    margin-bottom: 100px;
}
footer {
    padding: 24px 0;
    border-top: 1px solid#dee2e6 ;
}
.footer_copyright{
    font-size: 14px;
    color:#6c757d ;
display: block;
margin-top:12px ;
}
.footer_title{
font-size: 20px;
color: var(--text-color);
display: block;
margin-bottom:12px ;
}
.hero_title{
    font-size: 56px;
    color:var(--text-color) ;
    font-weight: 300;
    margin: 12px;
    text-align: center;
  
}
.hero_text{
   color:var(--text-color) ; 
   font-size: 40px;
   text-align: center;
   max-width:585px ;
   margin: 0 auto;
}
.plans_card:not(:last-of-type){
    margin-right: 24;   
} 



 .card-header{
   padding: 12px; 
   text-align: center;
   font-size: 24px;
   color:var(--text-color) ;
 } 
 .card-body{
    padding: 26px;
    
 }
.card_price{
    text-align: center;
    margin-bottom: 24px;
}
.card_price_amount{
    font-size: 20px;
color:var(--text-color) ;
}

.card_price_duration{
    font-size: 20px;
    color:#6c757d ;
   vertical-align:-1px;
}
.card_block {
   
    text-align: center;

}
.card_block:not(:last-of-type){
    margin-bottom: 24px;
}
.card_description{
  margin-bottom: 24px;  
}
.card_description_item{
    font-size: 16px;
    color:var(--text-color) ;
    display: block;
    text-align: center;
}
.card_description_item:not(:last-of-type){
  margin-bottom: 12px;  
}
.card_button{
  display: block;  
  width: 100%;
  font-size: 19px;
  padding: 9px;
}
.card {
    border:2px solid rgb(42, 6, 185) ;
   
   
}
.card:hover{
    outline: 2px solid blue;
    outline-offset: 2px;
  
    cursor: pointer;
}
.btn{
    border-radius: 20%;
}
.btn:hover{
    box-shadow: 10px 10px 10px 1px rgb(0, 255, 51);
   
}


.plans_card:nth-child(2) >.card{
visibility: hidden;
}
p{
    background: gray;
  
 
}
.hero_text {
    background-image: url('/img/test.png');
}
.card_block{
    list-style-type:upper-alpha;
    list-style-position:inside ;
    list-style-image:linear-gradient(
        to bottom right ,
     red,
     blue
     );
    padding: 0;
}
.card_description_item{
    display:list-item;
}
.table tr td{
  border: 2px solid #344035; 
  border-bottom-color:red ;
  border-right: blue; 
}

.table{
    table-layout: fixed;
    width: 600px;
    border-collapse: unset;
    border-spacing:20px 10px ;
    caption-side: top;
}
.calc{
width: 600px;
margin: 0;
margin-left: calc(50% - (600px / 2));
}